<launch>
  <node name="ego_static_transform_publisher_1" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map world 100" />
  <node name="ego_static_transform_publisher_2" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 slam_link base 100" />
  <node name="ego_static_transform_publisher_3" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base lidar 100" />
  <node name="ego_static_transform_publisher_4" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base vision 100" />
  <node name="ego_static_transform_publisher_5" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base height 100" />
</launch>
